/* Enter your Styles below! */


nav .myButton {
    background-color:transparent;
    border-radius:42px;
    border:10px solid #FA86E2;
    display:inline-block;
    overflow: hidden;
    cursor:pointer;
    color:#3C39DB;
    font-size:15px;
    font-weight:bold;
    padding:17px 24px;
    text-decoration:none;
    font-family: 'Press Start 2P', cursive;
}
.myButton:hover {
    background-color:transparent;
}
.myButton:active {
    position:relative;
    top:10px;
}
li {
    display: inline;
    
}
ul .nav1 {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.intro 
{
    line-height: 60px;
    padding: 40px;
    text-align: center;
}

body { 
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    color: #3C39DB;
    background-color: #F1E9FE;
     }

h1, h2, h3, h4 {
    font-family: 'Press Start 2P', cursive;
}

h1 {
    font-size: 48px;
    text-align: center;
    padding: 30px;

}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}
h4 {
    font-size: 24px;
}



header {margin-bottom: 20px;}

/* ensures that your images stretch the width of their containers */
img { width: 100%; }

a { 
    color: #3C39DB;
    text-decoration: none;
     }
a:hover { color: black; }

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: #FA86E2;
  color: #3C39DB; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 18px; 
  font-family: 'press start 2P', cursive;

}

#myBtn:hover {
  background-color: #F1E9FE; 
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    width: 60%;
    margin: auto;
}

.grid div {
    background-color: #ccc;
    padding: 20px;
}
.care {
    padding: 10px;
    line-height: 20px;
    font-size: 15px;
}
.about
{ padding: 10px;
    line-height: 20px;
    font-size: 15px;

}
.parent {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 10px;
grid-row-gap: 10px;
}

footer 
{
    text-align: center;
    padding: 30px;
}
@media only screen and (min-width:768px) {
 
}

@media only screen and (min-width:1224px) {

}